[Unit]
Description=YugabyteDB Master
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ yb_user }}
Group={{ yb_group }}
ExecStart={{ yb_install_dir }}/bin/yb-master \
  --master_addresses={{ yb_master_addresses }} \
  --rpc_bind_addresses=0.0.0.0:{{ yb_master_rpc_port }} \
  --server_broadcast_addresses={{ ansible_host }}:{{ yb_master_rpc_port }} \
  --webserver_interface=0.0.0.0 \
  --webserver_port={{ yb_master_web_port }} \
  --fs_data_dirs={{ yb_data_dir }}/master \
  --replication_factor={{ yb_replication_factor }}
Restart=on-failure
RestartSec=10
LimitNOFILE=65536
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
